[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[dev-packages]
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
jupyter = "*"
nbsphinx = "*"

[packages]
click = "*"
jsonschema = "*"
jsonref = "*"
pyproj = "*"
numpy = "*"
mapbox-earcut = "*"
pandas = "*"
